<link rel="stylesheet" href="/style.css">

<h3>Bitcoin vērtība: <%= bitcoin.value %>€</h3>
    <div style='display: flex;
    align-items: center;
    justify-content: top;
    gap: 10px'>

<% for (let i = 0; i < news.length; i++) { %>
    <div>
        <h1>Populārākā <%= news[i].name %> ziņa</h1>
        <a href="<%= news[i].data.articleUrl %>" target="_blank">
            <img src="<%= news[i].data.imageSrc %>" alt="<%= news[i].data.headingText %>" width="400">
            <h2><%= news[i].data.headingText %></h2>    
        </a>
    </div>
<% } %>
</div>
<div>
  <h4>Šodien varda dienu svin: <%= kalendars.names %></h4>
  <h5>Tradicionāli latviešu vārdi šodien: <%= kalendars.tradicionalNames %></h5>
  </div>
  